@import "maps.css";
@import "fonts.css"

body {
    font-family: 'Libre Baskerville', serif;
}

h1 {
	font-family: 'Luminari';
}

h2 {
	font-family: 'Luminari'
}

ul.seat-list {
    list-style-type: decimal
}

.mapWrapper {
    position: relative;
}

.backgroundMap {
    position: absolute;
    top: 0;
    left: 0;
}

.clearingIcon {
    position: absolute;
    height: 84px;
    width: 84px;
}
