body {
  font-family: 'Roboto', serif;
  background-image: url('../icons/root_character_vagabond_racoon.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: .85;
 }

div.main {
	margin: 2em;
}

ul {
	list-style-type: none;
}

.seat-list li {
  list-style-type: decimal;
}

.player-list {
	padding: 0px;
}

.entry-form {
	max-width: 580px;
  padding: .2rem;
  position: relative;
  padding: 3px;
  border-radius: 16px;
  background: #da8355;
}

.entry-form-body {
  margin: 0;
	display: grid;
  place-items: center;
  
}

.content-box {
  background: #fff;
  border-radius: 16px;
  padding: 1em;
  margin: 1em;
}

.submissions {
	display: inline-flex;
}

.button {
	padding: .25em;
	margin: .25em 1em;
	display: inline-block;
}
